body {
  margin: 0;
  background: #cdcdcd;
  display: block;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: block;
}

li {
  margin: 10px 0;
}

.signin-box {
  display: table;
  vertical-align: middle;
  justify-content: center;
  height: 100vh;
  position: relative;
  padding: 50px;
  justify-content: center;
}

.signin-form {
  display: table;
  vertical-align: middle;
  text-align: center;

}

.signin-form * {
  justify-content: center;
}

.sign-in-button-container {
  text-align: center;
}


.job-list {
  list-style-type: none;
  background: cdcdcd;
}

.job-item-container {
  background: green;
  padding: 10;
}

.job-card {
  background-color: red;
}

