body {
  margin: 0;
  background: #cdcdcd;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: block;
}

.signInbox {
  background: green;
  display: table;
  vertical-align: middle;
  justify-content: center;
  height: 100vh;
  position: relative;
  padding: 50px;
  justify-content: center;
}

.title {
  background-color: aqua;

}
.signInForm {
  display: table;
  vertical-align: middle;
  text-align: center;

}

.signInForm * {
  background: red;
  justify-content: center;
}

.sign-in-button-container {
  background: yellow;
  text-align: center;
}

